<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/task" method="post">
        <label for="name">TaskName</label>
        <input type="text" name="name" id="name">
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
    </form>

    <h1>
        <% if(files.length > 0 ){ %>
            <% files.forEach((item)=>{ %>
                <a href='/<%= item %>'>
                    <%= item%>
                </a>
                <%})%>
                    <% } else { %>
                        <h1>No files found</h1>
                        <% } %>

    </h1>
</body>

</html>